<!-- <nav>
  <div>
    <a href="#">
      <img src="#" height="34" alt="logo" />
    </a>
    <button
      type="button"

      <span> </span>
    </button>
    <div class="collapse" id="navbarSupportedContent">
      <ul>
        <li><a href="#">Service</a></li>
        <li><a href="#">Destination</a></li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        <li class="dropdown">
          <a
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
            >EN</a
          >
          <ul aria-labelledby="navbarDropdown">
            <li><a href="#!">EN</a></li>
            <li><a href="#!">BN</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
