/* Example CSS */
.active-link {
    color: orange;
    font-weight: bold;
    border:none;
}
.logo{
    background: -webkit-linear-gradient(#ea580c, #eee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
