<div class="sticky top-0 z-50 px-10 py-4 mb-10 bg-orange-100">
  <nav class="flex justify-between items-center mx-auto">
    <div class="logo w-[7%]">
      <!-- <p class="logo" style="font-family: 'Fraunces', serif">XPLORA</p> -->
      <p class="logo text-2xl drop-shadow-lg" style="font-family: 'Fraunces', serif">XPLORA</p>

    </div>
    <div class="flex space-x-6 w-[70%]">
      <a
        routerLink="/"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-orange-500 font-normal"
        >Home</a
      >

      <a
        routerLink="/service"
        routerLinkActive="active-link"
        class="hover:text-orange-500 font-normal"
        >Service</a
      >

      <a
        routerLink="/tours"
        routerLinkActive="active-link"
        class="hover:text-orange-500 font-normal"
        >Destination</a
      >
      <a
        routerLink="/booking"
        routerLinkActive="active-link"
        class="hover:text-orange-500 font-normal"
        >Booking</a
      >
      <a
        routerLink="/reviews"
        routerLinkActive="active-link"
        class="hover:text-orange-500 font-normal"
        >Reviews</a
      >
    </div>

    <div class="flex space-x-4">
      <a
        routerLink="/login"
        routerLinkActive="active-link"
        class="hover:text-orange-500 font-bold rounded-md px-4 py-2"
        >Login</a
      >
      <a
        routerLink="/register"
        routerLinkActive="active-link"
        class="hover:text-white font-bold hover:bg-black border-solid border-2 border-black rounded-md px-4 py-2"
        >SignUp</a
      >
    </div>
  </nav>
</div>
