<div class="flex justify-center px-20 mt-20">
  <form
    [formGroup]="createToursForm"
    (ngSubmit)="createTour()"
    class="w-[45vw] bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="main flex justify-between">
      <div class="right">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Photo">
            Photo
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="image"
            type="text"
            placeholder="Photo"
          />
          <span
            id="dest-error"
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('destination')?.hasError('required')
            "
            >*Required</span
          >
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="Destination"
          >
            Destination
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="destination"
            type="text"
            placeholder="Destination"
          />
          <span
            id="dest-error"
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('destination')?.hasError('required')
            "
            >*Required</span
          >
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="description"
          >
            Description
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="description"
            type="text"
            placeholder="description"
          />
          <span
            id="desc-error"
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('description')?.hasError('required')
            "
            >*Required</span
          >
        </div>
      </div>
      <div class="left">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="Duration"
          >
            Duration
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            min="1"
            formControlName="duration"
            type="number"
            placeholder="Duration in days"
          />
          <span
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('duration')?.hasError('required')
            "
          >
            *Required
          </span>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Price">
            Price:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            min="1"
            formControlName="price"
            type="number"
          />
          <span
            id="password-error"
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('price')?.hasError('required')
            "
            >*Required</span
          >
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Price">
            Start Date
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="start_date"
            type="date"
          />
          <span
            class="text-[12px] text-red-500"
            *ngIf="
              buttonClicked &&
              createToursForm?.get('start_date')?.hasError('required')
            "
            >*Required</span
          >
        </div>

        <div class="flex items-center justify-between mt-10"></div>
      </div>
    </div>
    <button
      class="bg-orange-500 hover:bg-orange-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >
      Create Tour
    </button>
  </form>
</div>
