<div
  class="bg-orange-100 flex justify-between items-center  min-w-full bg-cover pr-10 fixed bottom-0"
>
  <div class="card px-8">
    <p
      class="logo text-2xl drop-shadow-lg"
      style="font-family: 'Fraunces', serif"
    >
      XPLORA
    </p>
  </div>
  <div class="card mx-4">
    <ul class="flex gap-4 text-black font-bold">
      <li></li>
      <li>
        <a>ABOUT US</a>
      </li>
      <li>
        <a>CREATE YOUR PLAN</a>
      </li>
    </ul>
  </div>
  <div class="card flex items-center space-x-4">
    <ul class="flex gap-4">
      <li>
        <a><img src="/assets/images/icon-facebook.svg" alt="" /></a>
      </li>
      <li>
        <a><img src="/assets/images/icon-twitter.svg" alt="" /></a>
      </li>
      <li>
        <a><img src="/assets/images/icon-instagram.svg" alt="" /></a>
      </li>
    </ul>
  </div>
</div>
