<div class="flex justify-between">
  <div>
    <h1>Xplora Tours and Travells.</h1>
    <p>
      Book your trip in a minute, get full <br />
      Control for much longer
    </p>
  </div>
  <div>
    <h1>Company</h1>
    <a href="">About</a>
    <a href="">Careers</a>
    <a href="">Mobile</a>
  </div>
  <div>
    <h1>Contact</h1>
    <a href="">Help/FAQ</a>
    <a href="">Location</a>
    <a href="">Affiliate</a>
  </div>
  <div>
    <h1>More</h1>
    <a href="">Budget trips</a>
    <a href="">All Packages</a>
    <a href="">Newsletter</a>
  </div>
  <div class="flex space-x-4">
    <h1>Find Us</h1>
    <br />
    <i class="fab fa-facebook-f text-blue-500 text-2xl"></i>
    <i class="fab fa-twitter text-blue-400 text-2xl"></i>
    <i class="fab fa-instagram text-pink-500 text-2xl"></i>
  </div>
</div>
