<div class="px-10 py-10 bg-orange-200 w-[25%] h-[100vh]">
  <div>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnFd-gLdpy0z-4iMqSShrChK8RGLsYMmyRGMwf3iG03KDNXZpwG7WNH_oBkfp5IKgKhgI&usqp=CAU"
      alt="avatar"
      width="80px"
      style="border-radius: 50%"
    />
    <p>Username:{{ name }}</p>
  </div>
  <div>
    <ul>
      <li><a routerLink="/tours" routerLinkActive="">Tours</a></li>
      <li><a>TO DO</a></li>
      <li><a>Profile</a></li>
      <li><a routerLink="/">Log Out</a></li>
    </ul>
  </div>
</div>
