<app-navbar></app-navbar>
<div class="w-[50vw] h-[70vh] mx-auto flex justify-center items-center mt-20">
  <div>
    <img
      src="https://cdn.pixabay.com/photo/2012/05/07/12/58/giraffe-48386_640.png"
      alt=""
    />
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="loginUser()"
    class="w-1/3 max-h-[40vh] bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <img
        src="/frontend/XPLORA-NG/src/assets/xplora-tours-and-travels-high-resolution-logo.png"
        alt=""
        class="w-100"
      />
    </div>
    <p class="text-center font-bold"><span class="logo text-2xl drop-shadow-lg" style="font-family: 'Fraunces', serif">XPLORA</span>
 safaris</p>
 <p class="text-center">We make trips happen!</p>
    <div class="mb-[10px] mt-[20px]">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email address
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="login-email"
        type="text"
        placeholder="Username"
        formControlName="email"
      />
      <span id="email-error" class="text-[12px] text-red-500"></span>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="login-password"
        type="password"
        placeholder="******************"
        formControlName="password"
      />
      <span id="password-error" class="text-[12px] text-red-500"></span>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-orange-500 hover:bg-red-200 w-[98%] text-white font-bold py-2 px-4 mt-3 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        LogIn
      </button>
    </div>
    <div class="flex justify-between mt-20">
      <a
        routerLink="/register"
        class="inline-block align-baseline font-bold text-sm text-orange-500 hover:text-blue-800"
      >
        Create Account
      </a>
      <a
        routerLink="/forgot-password"
        class="inline-block align-baseline font-bold text-sm text-orange-500 hover:text-blue-800"
      >
        Forgot Password?
      </a>
    </div>
  </form>
</div>
