<app-navbar></app-navbar>
<div class="flex flex-col">
  <div class="flex p-10 justify-between">
    <div class="pt-40">
      <p class="text-orange-600 font-bold text-2xl">
        Best Destinations around Kenya
      </p>
      <br />
      <h1 class="text-7xl">
        Travel, enjoy <br />
        and live a new
        <br />
        and full life
      </h1>
      <p></p>
    </div>
    <div class="bg-cover">
      <img src="/assets/img/hero-img.png" class="object-cover" alt="" />
    </div>
  </div>
  <div>
    <div class="text-center mb-8">
      <p class="text-lg">Top Selling</p>
      <h1 class="text-5xl">Top Destinations</h1>
    </div>
    <div class="flex justify-around">
      <div
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <img src="/assets/img/mambrui sanddunes.webp" class="w-60" alt="" />
      </div>

      <div
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <div class="w-45">
          <img
            src="/assets/img/turkanaCulture.jpeg"
            class="w-100 h-40"
            alt=""
          />
        </div>
      </div>
      <div
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <img src="/assets/img/Beatiful-1.jpg" class="w-60" alt="" />
      </div>
    </div>
  </div>
</div>
